.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.titleBar {
  background-color: #ffffff;
  color: rgb(63, 56, 56);
  font-size: 18;
  height: 10%;
  width: 100% !important;
  padding: 10px;
  margin: 0px !important;
}

#title {
  /* font-family: "Calibri" !important; */
  text-decoration: bold;
  display: inline-block!important;
  font-size: 50px !important;
  padding: 10px 15px !important;
  margin: auto !important;
  color: rgb(71, 71, 71) !important;
}

#link {
  margin-left: 5%;
  font-size: 25px;

}

#link a:link {
  text-decoration: none;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;

}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: whitesmoke;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}