.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.titleBar {
  background-color: #ffffff;
  color: rgb(63, 56, 56);
  font-size: 18;
  height: 10%;
  width: 100% !important;
  padding: 10px;
  margin: 0px !important;
}

#title {
  /* font-family: "Calibri" !important; */
  text-decoration: bold;
  display: inline-block!important;
  font-size: 50px !important;
  padding: 10px 15px !important;
  margin: auto !important;
  color: rgb(71, 71, 71) !important;
}

.nav_link {
  margin-left: 5%;
  font-size: 25px;

}

.nav_link a:link {
  text-decoration: none;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;

}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: whitesmoke;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
